{% extends "base_template.html" %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div>
                {{ message }}
            </div>
        </div>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <!-- <script type="text/javascript">// <![CDATA[
            function loading(){
                $("#loading").show();
                $("#content").hide();
            }
    // ]]></script> -->
{% block heading %} 
ADD MEMBERS
{% endblock %}
{% block heading2 %} 
ADD MEMBERS
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-8  offset-lg-2">
        <div class="d-flex justify-content-center">
            <img id = "video-img" src="{{ url_for('video_feed_train') }}" width="100%">
        </div>
    </div>
</div>
    <form method = 'post'>
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <div class="row d-flex justify-content-center align-items-center">
                    <input style="margin-bottom: 2%;"type="text" name="name" placeholder="Name"> </input>
                </div>
                <div class="row d-flex justify-content-center align-items-center">
                    <button type="button" class="page-btns btn btn-outline-secondary mx-1" style="margin-top:0.7% ;"><a href="recognized" style="color: black; text-decoration: antiquewhite;">Added Members</a></button>
                    <button type="submit" class="page-btns btn btn-outline-secondary mx-1" style="margin-top:0.7% ;" onclick="loading();" style="color: black; text-decoration: antiquewhite;">Add Member</button>
                </div>
            </div>
        </div>
    </form>
</div> 
{% endblock %}